APP_NAME=VIAJA
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
# después de cambiar el APP_URL ejecutar ./vendor/bin/sail artisan config:clear

APP_LOCALE=es
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=es_ES

APP_MAINTENANCE_DRIVER=file

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Arquitectura Base de Datos (Docker Sail)
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=viaja_db
DB_USERNAME=sail
DB_PASSWORD=password

# Optimización y Rendimiento (Redis)
SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
CACHE_STORE=redis

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

# CONFIGURACIÓN DE CORREO (Descomentar el bloque que se desee usar)
# Realizar ./vendor/bin/sail artisan config:clear y ./vendor/bin/sail artisan queue:work

# OPCIÓN A: GMAIL (Entorno de Producción)
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_app_password_de_16_letras
MAIL_ENCRYPTION=smtps
MAIL_FROM_ADDRESS="tu_correo@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

# OPCIÓN B: MAILTRAP SANDBOX (Entorno Local)
# MAIL_MAILER=smtp
# MAIL_HOST=sandbox.smtp.mailtrap.io
# MAIL_PORT=2525
# MAIL_USERNAME=tu_usuario_mailtrap_aqui
# MAIL_PASSWORD=tu_password_mailtrap_aqui
# MAIL_ENCRYPTION=tls
# MAIL_FROM_ADDRESS="test@example.com"
# MAIL_FROM_NAME="${APP_NAME}"

# APIs Externas
GEMINI_API_KEY=tu_clave_de_google_gemini_aqui
UNSPLASH_ACCESS_KEY=tu_clave_de_unsplash_aqui

VITE_APP_NAME="${APP_NAME}"